<div class="row">
  <div class="col-md-12 bg-primary d-flex justify-content-between py-2">
    <div>
      <% if signed_in? %>
        <span class="font-weight-bold">Hi, <%= current_user.username %></span>
      <% else %>
        <%= link_to 'Login', login_path, class: 'font-weight-bold no-underline text-light' %>
      <% end %>
    </div>
    <div>
      <%= link_to 'Hackernews', root_path, class: 'text-light font-weight-bold no-underline' %>
    </div>
  </div>
</div>